{% extends "global/global.html" %}

{% block title %}{{ todo.title }} | {% endblock title %}


{% block content %}
<div class="container">
    <h1 style="margin-top: 4rem;">Crie sua conta</h1>
    <form method="post">
        {% csrf_token %}

        <div class="mb-3 row">
            <label for="id_username" class="col-sm-2 col-form-label">Nome de usuário:</label>
            <div class="col-sm-10">
                <input type="text" id="id_username" class="form-control" name="username" required>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="id_password1" class="col-sm-2 col-form-label">Senha:</label>
            <div class="col-sm-10">
                <input type="password" id="id_password1" name="password1" class="form-control" aria-labelledby="passwordHelpBlock" required>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="id_password2" class="col-sm-2 col-form-label">Confirme a senha:</label>
            <div class="col-sm-10">
                <input type="password" id="id_password2" name="password2" class="form-control" aria-labelledby="passwordHelpBlock" required>
            </div>
        </div>

        <div class="col-auto">
            <input type="submit" value="Registrar" class="btn btn-primary mb-3">
        </div>

        {% if form.errors %}
        <div class="alert alert-danger">
            <ul class="mb-0">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </form>
</div>
{% endblock content %}