* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: hsla(217, 100%, 50%, 1);

  background: linear-gradient(90deg, #0062ff 0%, hsla(186, 100%, 69%, 1) 100%);

  background: -moz-linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
}

.app-content {
  background-color: #fdfdfd;
  width: 100%;
  max-width: 400px;
  border-radius: 0.45rem;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  position: relative;
}

.app-content .app-header .btn-header {
  padding: 0.25rem;
  font-size: 1.4rem;
  color: #0062ff;
  position: absolute;
  left: 0.25rem;
  cursor: pointer;
}

.app-content .app-body {
  padding: 1rem;
  min-height: 400px;
  max-height: 500px;
  overflow-y: scroll;
}

.app-body .allTasks {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-header h4 {
  font-weight: normal;
}

.app-content .app-footer {
  background-color: transparent;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-content .app-footer button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #58a7e2;
  color: #fdfdfd;
  transition: 0.3s ease;
  margin: -1.5rem;
  position: fixed;
  position: relative;
  bottom: 4rem;
}

.app-content .app-footer button:hover {
  background-color: #3d8cc7;
  width: 4rem;
  height: 4rem;
}

/* Caixas de tarefas */

.check-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.check-item {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;
  border-radius: 24px;
}

.check-item label {
  cursor: pointer;
}

/* .check-item input {
  appearance: none;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(55, 0, 255);
  display: block;
  cursor: pointer;
} */

/* caixa checked */

.check-item.checked {
  margin: 0px 10px;
  transition: 0.5s;
}

.checked label {
  color: #c5d0da;
  text-decoration: line-through;
}

/*  {
  width: 22px;
  height: 22px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
 */

/* Estilo modal */

.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  animation: modal 0.3s;
}

.modal-content {
  background-color: #fff;
  width: 100%;
  max-width: 280px;
  height: 360px;
  border-radius: 0.45rem;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -100, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* .modal-container.modal-ativo {
  animation: modal 0.3s;
}
 */
.modal-header {
  position: relative;
}

.modal-header h4 {
  text-align: center;
}
.modal-body form {
  display: grid;
}

.modal-body input {
  width: 100%;
  margin: 20px 0px;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 1rem;
}

.modal-body label {
  color: #8b9daf;
}

.modal-body textarea {
  margin-top: 10px;
  height: 100%;
  max-height: 120px;
  outline: none;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  box-sizing: border-box;
}

.modal-footer {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-footer button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #58a7e2;
  color: #fdfdfd;
  transition: 0.3s ease;
  position: fixed;
  position: relative;
  bottom: 0rem;
}

.modal-footer button:hover {
  background-color: #3d8cc7;
  width: 4rem;
  height: 4rem;
}

.fechar-modal {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: white;
  background-color: #58a7e2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  rotate: 45deg;
  font-size: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.modal-container.modal-ativo {
  display: flex;
}
