{% extends "global/global.html" %}

{% block title %}Nova Tarefa | {% endblock title %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3 row" style="margin-top: 4rem;">

        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Título</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Descição</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="comment" rows="3"></textarea>
            </div>
        </div>
        <div class="col-auto">
            <input type="submit" value="Salvar" class="btn btn-primary mb-3">
        </div>
    </div>
</form>
{% endblock content %}