{% extends "global/global.html" %}

{% block title %}{{ todo.title }} | {% endblock title %}


{% block content %}
<h1>{{ object.title }}</h1>

{% if object.comment %}
<p>{{ object.comment }}</p>
{% endif %}

{% if object.isComplete == False %}
<p>Incompleto</p>
{% else %}
<p>Completo</p>
{% endif %}

<a href="{% url 'todo:update' pk=todo.id %}" class="btn btn-outline-primary">Editar</a>
<a href="{% url 'todo:delete' pk=todo.id %}" class="btn btn-outline-danger">Apagar</a>
{% endblock content %}